################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Clients/.vs
/Clients/ConsoleClient/obj
/Clients/ConsoleClient_ResourceOwnerPassword/obj/Debug/netcoreapp2.2
/Clients/ConsoleClient_ResourceOwnerPassword/obj
/Clients/ConsoleClient/bin/Debug/netcoreapp2.2
/Clients/ConsoleClient_ResourceOwnerPassword/bin/Debug/netcoreapp2.2
/Clients/Form_ResourceOwnerPassword
/Clients/MvcCoreClient/bin/Debug/netcoreapp2.2
/Clients/MvcCoreClient/obj
/Clients/packages
/ApiResource/.vs/ApiResource/v15
/ApiResource/ApiResource/bin/Debug/netcoreapp2.2
/ApiResource/ApiResource/obj/Debug/netcoreapp2.2
/ApiResource/ApiResource/obj
/IS4inMem/.vs/IS4inMem/v15
/IS4inMem/bin/Debug/netcoreapp2.1
/IS4inMem/obj/Debug/netcoreapp2.1
/IS4inMem/obj
/Clients/MvcCore_HybridClient/obj
/Clients/MvcCore_HybridClient/bin/Debug/netcoreapp2.2
/.vs/IdentityServer4-Tutorial/v15
/.vs
